<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onj.springweldbeing.pqr.gas.GasService">

    <insert id="insertPQRGas" parameterType="com.onj.springweldbeing.pqr.gas.Gas" useGeneratedKeys="true" keyProperty="id">
        insert into gas
        (
            pqr_info_id,
            process,
            shielding_gas,
            shielding_gas_composition,
            shielding_gas_flow_min,
            shielding_gas_flow_max,
            backing_gas,
            backing_gas_composition,
            backing_gas_flow_min,
            backing_gas_flow_max,
            trailing_gas,
            trailing_gas_composition,
            trailing_gas_flow_min,
            trailing_gas_flow_max,
            other,
            create_time,
            create_user,
            modify_time,
            modify_user
        )
        values
        (
            #{pqrInfoId},
            #{process},
            #{shieldingGas},
            #{shieldingGasComposition},
            #{shieldingGasFlowMin},
            #{shieldingGasFlowMax},
            #{backingGas},
            #{backingGasComposition},
            #{backingGasFlowMin},
            #{backingGasFlowMax},
            #{trailingGas},
            #{trailingGasComposition},
            #{trailingGasFlowMin},
            #{trailingGasFlowMax},
            #{other},
            NOW(),
            0,
            NOW(),
            0
        )
    </insert>

</mapper>